cr_images/
cr_images_pb/
cr_gbif_matches/
.ipynb_checkpoints/
ami-ml/.ipynb_checkpoints/
1_dataset_prep/cr_gbif_matches/*.jpg
1_dataset_prep/.ipynb_checkpoints
1_dataset_prep/classification_data_prep/ready_for_classification_model/*.jpg
1_dataset_prep/ciee_monte_verde_dataset/cr_images_pb/*.jpg
1_dataset_prep/ciee_monte_verde_dataset/cr_images_pb/cropped/*.jpg
1_dataset_prep/ciee_monte_verde_dataset/cr_images/*.jpg
1_dataset_prep/ciee_monte_verde_dataset/cr_images/cropped/*.jpg
2_detection/local_yolo11_detector_and_results/detectors/*.jpg
2_detection/local_yolo11_detector_and_results/detectors/test_images/*.jpg
3_classification/ami-ml/.ipynb_checkpoints
3_classification/ami-ml/750b7bfc-3577-4b26-8aaf-3e4be9f0d639/*.jpg
3_classification/ami-ml/baf0dd21-64e7-46ea-95d0-e359c2f8e61b/*.jpg
3_classification/ami-ml/323b0e80-5e4b-4cc4-936a-d93fc8cae9bc/*.jpg
3_classification/ami-ml/cca13f2c-0d2c-4c2f-93b9-4446c0cc1629/*.jpg
3_classification/ami-ml/50c9509d-22c7-4a22-a47d-8c48425ef4a7/*.jpg
3_classification/ami-ml/040c5662-da76-4782-a48e-cdea1892d14c/*.jpg
3_classification/ami-ml/821cc27a-e3bb-4bc5-ac34-89ada245069d/*.jpg
3_classification/ami-ml/dataset_prep_results/train-000000
3_classification/ami-ml/dataset_prep_results/test-000000
3_classification/ami-ml/dataset_prep_results/val-000000
3_classification/ami-ml/dataset_prep_results/older
1_dataset_prep/.DS_Store